body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 100vh;
}
section {
  font-family: "Mulish";
  margin: 0;
  height: 100vh;
}
.sidebar {
  background-color: #494b50;
  text-align: center;
  padding-top: 15%;
  width: 20%;
  height: 100vh;
  float: left;
  vertical-align: top;
}
.sidebar-contents {
  height: auto;
}
.main {
  background-color: #34353a;
  height: 100vh;

  width: 80%;
  vertical-align: top;
  float: left;
}
.main-contents {
  display: flex;
  align-items: center;
  position: relative;
  left: 30%;
  top: 30%;
}
ul {
  list-style: none;
}
ul a {
  color: #a4a5a7;
  text-decoration: none;
}
.navbar ul a:hover,
:active {
  color: #fff;
}
ul li {
  display: block;
  text-align: left;
}
.navbar {
  padding-top: 10%;
  padding-left: 20%;
}
.myLogo {
  padding-right: 10%;
}
.copyright {
  width: 100%;
  float: left;
  text-align: left;
}
.copyright a,
p {
  padding-top: 15%;
  padding-left: 25%;
  color: #a4a5a7;
  text-decoration: none;
  margin: 0;
}
.details {
  text-align: center;
  font-size: large;
  display: inline-block;
}
.name {
  font-size: 55px;
  font-weight: 800px;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #fff;
}
.descriptions {
  font-family: "Montserrat";
  font-weight: 500;
}
.social ul {
  padding: 0;
  margin: 0;
  padding-top: 15%;
}
.social ul li {
  margin: 0px 8px;
  display: inline-block;
}
.social ul li i {
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
}
.photo {
  display: inline-block;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
}
